h1 {
    text-align: center;
    font-size: 45px;
    color: rgb(152, 110, 192);
    text-shadow: 0px 0px 20px rgb(152, 110, 192);
}

h2 {
    color: rgb(152, 110, 192);
    font-size: 25px;
    text-align: center;
}

.board {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.board-x {
    margin: auto;
    border-radius: 18px;
    transition: .2s;
    box-shadow: 0px 0px 20px rgb(140, 208, 218);

}

.board-o {
    margin: auto;
    border-radius: 18px;
    transition: .2s;
    box-shadow: 0px 0px 20px rgb(201, 187, 139);
}

.board-button.x {
    color: rgb(140, 208, 218);
    text-shadow: 0px 0px 20px rgb(140, 208, 218);
}

.board-button.o {
    color: rgb(201, 187, 139);
    text-shadow: 0px 0px 20px rgb(201, 187, 139);
}

.board-rows {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

.board-button {
    background-color: white;
    text-align: center;
    height: 150px;
    width: 150px;
    border: 1px solid;
    border-radius: 0%;
    font-size: 80px;
    color: rgb(152, 110, 192);
    transition: .2s;
    border-width: 2px;
    border-color: rgb(163, 147, 177);
    box-shadow: 0px 0px 20px rgb(163, 147, 177);


}

.winning-button.x {
    box-shadow: 0px 0px 20px rgb(140, 208, 218) inset;
    /* text-shadow: 0px 0px 20px rgb(140, 208, 218); */

}

.winning-button.o {
    box-shadow: 0px 0px 20px rgb(201, 187, 139) inset;
    /* text-shadow: 0px 0px 20px rgb(201, 187, 139); */
}

#b1 {
    border-radius: 20px 0 0 0;
}

#b3 {
    border-radius: 0 20px 0 0;
}

#b7 {
    border-radius: 0 0 0 20px;
}

#b9 {
    border-radius: 0 0 20px 0;
}

.reset {
    margin: auto;
    width: 120px;
    display: block;
    height: 50px;
    margin-top: 10px;
    border-radius: 10px;
    background-color: white;
    color: rgb(134, 83, 182);
    border: none;
    box-shadow: 0px 0px 20px rgb(134, 83, 182);
}

@media (max-width: 390px) {
    h1 {
        font-size: 25px;
    }

    .board-button {
        height: 100px;
        width: 100px;
        font-size: 40px;
    }
}